@page

<div class="text-center privacy-container">
    <div>
        <h5 class="font-800 display-4">Privacy</h5>
        <div>
            <span>
              Use this page to detail your site's privacy policy.
            </span>
        </div>
    </div>
</div>
<style>
    .privacy-container {
        width: 60%;
        height: 70vh;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
</style>
